.container{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.movie-name{
    width: inherit;
    width: 500px;
    font-size: 50px;
    font-weight: bold;
    overflow: ellipsis;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
}

.movie-image{
    min-width: 300px;
    height: 450px;
    margin-bottom: -90px;
}

.image-and-review{
    display: flex;
}

.user-review{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.user-review p{
    max-height: 400px;
    min-height: 290px;
    min-width: 365px;
    max-width: 400px;
    width: 400px;
    font-size: 20px;
    word-wrap: none;
    overflow-y: scroll;
    border-radius: 5px;
    font-family: 'Josefin Sans';
}

p::-webkit-scrollbar-track {
    background-color: black;
}

p::-webkit-scrollbar {
    width: 6px;
}

p::-webkit-scrollbar-thumb {
    background: black;
}

.button-save{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.9;
    transition: all ease 0.2s;
    background-color: #9999;
    color: #fff;
    cursor: pointer;
    margin-top: 8px;
    font-family: 'Josefin Sans';
}

.five-stars{
    margin-top: 13px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.star{
    cursor: pointer;
    color: #faaf00;
};